<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="landscape"
            src="https://media0.giphy.com/media/5wWf7GR2nhgamhRnEuA/giphy.gif?cid=ecf05e47v2xu5cb3y20c8th1qilfh1igc7a0cj9tw6ue4ywd&rid=giphy.gif&ct=g">

        <p>g-van will teach you the ways of the weather 😎</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>footer}}

    <script src="js/app.js"></script>

</body>

</html>