<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>nuff said</p>
        <img class="landscape" src="/img/boomerpoints.png">
        <h1>Location: {{myloc}}</h1>
        <h1>Temperature: {{myfor.temperature}} degrees Celcious</h1>
    </div>
    {{>footer}}

</body>

</html>